body {
    font-family: sans-serif;
    letter-spacing: 1.2em;
    background: #222;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#box {
    height: 100vh;
    width: 100%;
}

#box:hover,
#box.clicked {
    -webkit-transition: 1.5s;
}

/*
#h1:hover,
#h2:hover,
#h1.clicked,
#h2.clicked {
    -webkit-transition: 1.45s;
}
 */