/* @formatter:off */
:root {
    --black: #333;
    --white: #fff;
    --none: transparent;
}

/* DIV: SEARCH-BAR */
.input-icons i { position: absolute; }
.input-icons { width: 100%; margin-bottom: 10px; }
.input-icon { padding: 10px; color: black; min-width: 50px; text-align: center; }
input#site-search { width: 100%; padding: 10px; text-align: center; }

p, pre { font-size: 1.1em; line-height: 1.6em; text-align: left; }
pre.link-box { font-size: 0.8em; line-height: 1.6em; text-align: left; }

h2,
section.flex-container,
div.search-bar { display: flex; justify-content: center; }
div.search-bar div.column { display: flex; flex-wrap:wrap; justify-content: center; gap: 20px; }
div.search-bar div.input-icons i { position: absolute; }
div.search-bar div.input-icons { width: 100%; margin-bottom: 10px; }
div.search-bar i.input-icon { padding: 10px; color: var(--black); min-width: 50px; text-align: center; }
div.search-bar input.input-field { min-width:calc(320px - 5px); padding: 7px; border-radius: 100px; text-align: center; border: 1px solid darkgray; }
div.search-bar button {
    padding: 10px;
    border-radius: 7px;
    border: none;
    background: var(--black);
    color: white;
    font-weight: bold;
    box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
    width: 115px;
}

.center-align {
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: center;
    align-self: center;
}
.flex-column { display: flex; flex-direction: column;}
.flex-row { display: flex; flex-direction: row; }
.flex-wrap { display: flex; flex-wrap: wrap; }

/* @formatter:on */
/*************** SEARCH INPUT STYLING *****************/
section.search-field {
    display: flex;
    width: 100%;
    column-gap: 50px;
    justify-content: center;
    padding: 20px 0;
}

section.search-field div {
    display: flex;
    flex-direction: column;
    width: 170px;
}

section.flex-container {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20px;
}

section.flex-container div.column {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    height: 120px;
    border-radius: 8px;
    row-gap: 10px;
}

section.flex-container div.button-box { max-width: calc(33.33%); }
section.flex-container div.button-box p { width: 100%; text-align: center; }
section.flex-container div.exp-box,
section.flex-container div.exp-box { min-width: calc(100%); height: 100%; padding-left: 20px; }
section.flex-container div.inner-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

section.flex-container div.icon-box {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 80px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-evenly;
}

section.flex-container div.icon-box a i {
    #background: linear-gradient(to bottom, #fF9E68, #FF68DE) no-repeat;
    #-webkit-background-clip: text;
    #color: transparent;
    color: var(--black);
}

section.flex-container div.icon-box p { font-size: 12px; font-weight: bold; }

span {
font-size: 16px;
font-weight: lighter;
}