/* @formatter:off */
@font-face { font-family: "fontLight"; src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("otf"); src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf") format("woff2"); }
@font-face { font-family: "fontBold"; src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("otf"); src: url("../assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("woff2"); }

:root {
    --black: #333;
    --white: #fff;
    --none: transparent;
}
/* ALL ICONS */
i.fas, i.far, i.fab, i.fa { -webkit-text-stroke: 2px transparent; }
/* SCREEN SIZES */

/* DIV: SEARCH-BAR */
.input-icons i { position: absolute; }
.input-icons { width: 100%; margin-bottom: 10px; }
.input-icon { padding: 10px; color: black; min-width: 50px; text-align: center; }
input#site-search { width: 100%; padding: 10px; text-align: center; }

/* FOOTER STYLING */
footer section,
footer > div,
footer > div > p { width: 100%; }
footer section   { text-align: left; flex-wrap: wrap; }
footer > div,
footer > div > p { text-align: center; }
footer > div > p { font-size: 13px; }
footer span.dev-icon { width: 18px; }
footer i.fa-heart { color: var(--black); }
footer span.dev {
    font-family: fontBold, sans-serif;
    background-color: var(--black);
    color: white;
    border-radius: 4px;
    padding: 2px;
}

h1 { font-size: 36px; padding: 5px 0; }
h2 { font-size: 24px; padding: 5px 0; }
h3 { font-size: 20px; padding: 5px 0; }
h4 { font-size: 18px; padding: 5px 0; }

* { box-sizing: border-box; margin: 0;  /* border: 1px solid black; /**/ }
p, pre { font-size: 1.1em; line-height: 1.6em; text-align: left; }
pre.link-box { font-size: 0.8em; line-height: 1.6em; text-align: left; }

body {
    font: 1rem 'Fira Sans', sans-serif;
    #font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0 auto; /* Center align once max-width is reached */
    overflow-x: hidden;
    padding: 0 10px;
    #border: 1px solid var(--black);
}

section#hero,
footer { margin-top: 100px; }

section#hero,
h2,
section.flex-container,
footer section { display: flex; align-items: center; justify-content: center; padding: 30px 0; flex-direction: column; row-gap: 10px; }

div.search-bar { display: flex; justify-content: center; }
div.search-bar div.column { display: flex; flex-wrap:wrap; justify-content: center; gap: 20px; }
div.search-bar div.input-icons i { position: absolute; }
div.search-bar div.input-icons { width: 100%; margin-bottom: 10px; }
div.search-bar i.input-icon { padding: 10px; color: var(--black); min-width: 50px; text-align: center; }
div.search-bar input.input-field { min-width:calc(320px - 5px); padding: 7px; border-radius: 100px; text-align: center; border: 1px solid darkgray; }

div.search-bar button {
    padding: 10px;
    border-radius: 7px;
    border: none;
    background: var(--black);
    color: white;
    font-weight: bold;
    box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
    width: 115px;
}

.center-align {
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: center;
    align-self: center;
}

.flex-column { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }
.flex-wrap { display: flex; flex-wrap: wrap; }

/* @formatter:on */

section.search-field {
    display: flex;
    width: 100%;
    column-gap: 50px;
    justify-content: center;
    padding: 20px 0;
}

section.search-field div {
    display: flex;
    flex-direction: column;
    width: 170px;
}

section.flex-container {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20px;
}

section.flex-container div.column {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    height: 120px;
    border-radius: 8px;
    row-gap: 10px;
}

section.flex-container div.button-box { max-width: calc(33.33%); }
section.flex-container div.button-box p { width: 100%; text-align: center; }

section.flex-container div.exp-box,
section.flex-container div.exp-box { min-width: calc(100%); height: 100%; padding-left: 20px; }

section.flex-container div.inner-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

section.flex-container div.icon-box {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 80px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-evenly;
}

section.flex-container div.icon-box a i {
    #background: linear-gradient(to bottom, #fF9E68, #FF68DE) no-repeat;
    #-webkit-background-clip: text;
    #color: transparent;
    color: var(--black);
}

section.flex-container div.icon-box p { font-size: 12px; font-weight: bold; }

/*** TABLET / LAPTOP ***/
/* @formatter:off */
@media screen and (min-width: 640px) {
    body { max-width: 640px; }
    section.flex-container div.button-box { max-width: calc(25% - 10px);}
    section.flex-container div.exp-box { min-width: calc(100%);}
    /* @formatter:on */
}

/*** LAPTOP / DESKTOP ***/
/* @formatter:off */
@media screen and (min-width: 1280px) {
    body { max-width: 1280px; }
    section.flex-container div.button-box { max-width: calc(16.66% - 20px); }
    section.flex-container div.exp-box { min-width: calc(33%);}
    div.search-bar input.input-field { min-width:calc(420px - 15px); }
    /* @formatter:on */
}


span {
font-size: 16px;
    font-weight: lighter;

}