:root {
    --black: #000;
    --white: #fff;

    --radicalRed: #ff355e;
    --wildWatermelon: #fd5b78;
    --outrageousOrange: #ff6037;
    --atmoicTangerine: #ff9966;
    --neonCarrot: #ff9933;
    --sunglow: #ffcc33;
    --laserLemon: #ffff66;
    --unmellowYellow: #ffff66;
    --yellowSunshine: #fff700;
    --electricLime: #ccff00;
    --greenLizard: #a7f432;
    --screaminGreen: #66ff66;
    --magicMint: #aaf0d1;
    --blizzardBlue: #50bfe6;
    --shockingPink: #ff6eff;
    --razzleDazzleRose: #ee34d2;
    --hotMagneta: #ff00cc;
    --purplePizzazz: #ff00cc;
}


div.div-one {
    background: linear-gradient(
            0deg,
            #ff355e,
            #fd5b78 7%,
            #ff6037 15%,
            #ff9966 23%,
            #ff9933 30%,
            #ffcc33 38%,
            #ffff66 46.2%,
            #ccff00 53%,
            #66ff66 61%,
            #aaf0d1 69%,
            #50bfe6 77%,
            #ff6eff 84%,
            #ee34d2 92%,
            #ff00cc 100%
    );
}


/* @formatter:off */
footer i.fa-heart {
    background: linear-gradient(
            to bottom,
            var(--purplePizzazz), var(--blizzardBlue)
    ) no-repeat;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
section.rainbow div:nth-child(2) {background-color: var(--radicalRed);}
section.rainbow div:nth-child(3) {background-color: var(--wildWatermelon);}
section.rainbow div:nth-child(4) {background-color: var(--outrageousOrange);}
section.rainbow div:nth-child(5) {background-color: var(--atmoicTangerine);}
section.rainbow div:nth-child(6) {background-color: var(--neonCarrot);}
section.rainbow div:nth-child(7) {background-color: var(--sunglow);}
section.rainbow div:nth-child(8) {background-color: var(--laserLemon);}
section.rainbow div:nth-child(9) {background-color: var(--unmellowYellow);}
section.rainbow div:nth-child(10) {background-color: var(--yellowSunshine);}
section.rainbow div:nth-child(11) {background-color: var(--electricLime);}
section.rainbow div:nth-child(12) {background-color: var(--greenLizard);}
section.rainbow div:nth-child(13) {background-color: var(--screaminGreen);}
section.rainbow div:nth-child(14) {background-color: var(--magicMint);}
section.rainbow div:nth-child(15) {background-color: var(--blizzardBlue);}
section.rainbow div:nth-child(16) {background-color: var(--shockingPink);}
section.rainbow div:nth-child(17) {background-color: var(--razzleDazzleRose);}
section.rainbow div:nth-child(18) {background-color: var(--hotMagneta);}
section.rainbow div:nth-child(19) { background-color: var(--purplePizzazz);}

div#toggle-element { display: none; }
header span i { padding: 0 5px 5px 0; }
header span strong { font-size: 13px; }
header div#toggle-element > a:first-child { border-top: 2px solid var(--white); }
header div#toggle-element > a:hover,
header div#toggle-element > a.active { color: var(--black); }
header div#toggle-element > a:hover { transition: .5s linear; }
/* @formatter:on */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    max-width: 300px;
    margin: 0 auto; /* Center align once max-width is reached */
    overflow-x: hidden;
    padding: 0 10px;
    #border: 1px solid var(--black);
}

header > a,
footer > a,
img.logo {
    width: 80px;
}

img.logo {
    padding-left: 10px;
}

header {
    min-width: 300px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

header,
header section {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    background: transparent;
    padding-top: 10px;
    background: var(--white);
}

header section {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header span {
    text-align: right;
    padding: 0 20px;
    cursor: pointer;
    max-width: 100%;
}

header div#toggle-element {
    background: var(--primary);
    position: fixed;
    margin: 45px 0;
    width: 100%;
    background: var(--white);
}

header div#toggle-element > a {
    display: block;
    width: 100%;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-family: fontMedium, sans-serif;
    letter-spacing: .2em;
    line-height: 1.7em;
}

header div#toggle-element > a.active,
header div#toggle-element > a:hover {
    font-weight: bold;
}

header div#toggle-element > a.active {
    transition: 1ms ease-out;
}

section#hero,
footer {
    margin-top: 100px;
}

footer section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer section {
    width: 100%;
    text-align: left;
}

footer > div,
footer > div > p {
    width: 100%;
    text-align: center;
}

footer > div > p {
    font-size: 10px;
}

h1 {
}

h2 {
    padding: 20px 0;
}

section.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

section.flex-container div.box {
    flex: 1 100%;
    max-width: calc(33.33% - 7px);
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;

}

section.flex-container div.box a i.fa-heart {
    background: linear-gradient(
            to bottom,
            #fF9E68, #FF68DE
    ) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


@media screen and (min-width: 640px) {
    body {
        max-width: 640px;
    }

    section.flex-container div.box {
        max-width: calc(16.66% - 9px);
    }

}


@media screen and (min-width: 1280px) {
    body {
        max-width: 1280px;
    }

    section.flex-container {
        max-width: 50%;
    }
    section.flex-container div.box {
        max-width: calc(16.66% - 0);
    }


}