div.div-one {
    background: linear-gradient(
            0deg,
            #ff355e,
            #fd5b78 7%,
            #ff6037 15%,
            #ff9966 23%,
            #ff9933 30%,
            #ffcc33 38%,
            #ffff66 46.2%,
            #ccff00 53%,
            #66ff66 61%,
            #aaf0d1 69%,
            #50bfe6 77%,
            #ff6eff 84%,
            #ee34d2 92%,
            #ff00cc 100%
    );
}

/* @formatter:off */
section.rainbow div:nth-child(2) {background-color: var(--radicalRed);}
section.rainbow div:nth-child(3) {background-color: var(--wildWatermelon);}
section.rainbow div:nth-child(4) {background-color: var(--outrageousOrange);}
section.rainbow div:nth-child(5) {background-color: var(--atmoicTangerine);}
section.rainbow div:nth-child(6) {background-color: var(--neonCarrot);}
section.rainbow div:nth-child(7) {background-color: var(--sunglow);}
section.rainbow div:nth-child(8) {background-color: var(--laserLemon);}
section.rainbow div:nth-child(9) {background-color: var(--unmellowYellow);}
section.rainbow div:nth-child(10) {background-color: var(--yellowSunshine);}
section.rainbow div:nth-child(11) {background-color: var(--electricLime);}
section.rainbow div:nth-child(12) {background-color: var(--greenLizard);}
section.rainbow div:nth-child(13) {background-color: var(--screaminGreen);}
section.rainbow div:nth-child(14) {background-color: var(--magicMint);}
section.rainbow div:nth-child(15) {background-color: var(--blizzardBlue);}
section.rainbow div:nth-child(16) {background-color: var(--shockingPink);}
section.rainbow div:nth-child(17) {background-color: var(--razzleDazzleRose);}
section.rainbow div:nth-child(18) {background-color: var(--hotMagneta);}
section.rainbow div:nth-child(19) { background-color: var(--purplePizzazz);}
/* @formatter:on */

section.flex-container div.icon-box a i {
    background: linear-gradient(to bottom, #fF9E68, #FF68DE) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

