@use "sass:color";
@import "partials/variables";

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #990000;
$tertiary: #009900;


@mixin centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $primary-color;
  width: 300px;
  height: 300px;
}

@mixin standard-border($radius: 8px, $width: 1px) {
  border-width: $width;
  border-color: $primary-color;
  border-radius: $radius;
  border-style: solid;
}

div.sass-flex-container {
  @include  centered-container();
  @include  standard-border();
}

@for $width from 1 through 4 {
  .col-#{$width} {
    width:(100%/ $width);
  }
}

body {
  font: 100% $font-stack;
  color: $secondary-color;
}

header {
  color: $primary-color;
}

